<%= javascript_tag do %>
  Application.selectedDevice = "<%=@device.id %>";
  $(".ui.item.device").html("<a href='/devices/<%=@device.id%>/edit'><i class='settings icon'></i> <%= @device.name %></a>");
<%end%>

<div id="map"></div>
