<%= javascript_tag do %>
  Application.selectedDevice = <%=@device.id %>;

  $(".ui.item.device").html("<i class='settings icon'></i> <%= @device.name %>");

  $(".ui.item.device").click(function(){
    $('.small.modal.device.edit').modal('show');
  });
<%end%>

<div id="map"></div>

<div class="ui small modal device edit">
  <div class="header">Editing Device</div>
  <div class="content">
      <%= render 'form', device: @device %>
  </div>
</div>
